@font-face {
    font-family: 'cera_proregular';
    src: url('../style/Fonts/cerapro-regular-webfont.eot');
    src: url('../style/Fonts/cerapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../style/Fonts/cerapro-regular-webfont.woff2') format('woff2'),
    url('../style/Fonts/cerapro-regular-webfont.woff') format('woff'),
    url('../style/Fonts/cerapro-regular-webfont.svg#cera_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cera_problack';
    src: url('../style/Fonts/cerapro-black-webfont.eot');
    src: url('../style/Fonts/cerapro-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../style/Fonts/cerapro-black-webfont.woff2') format('woff2'),
    url('../style/Fonts/cerapro-black-webfont.woff') format('woff'),
    url('../style/Fonts/cerapro-black-webfont.ttf') format('truetype'),
    url('../style/Fonts/cerapro-black-webfont.svg#cera_problack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cera_probold';
    src: url('../style/Fonts/cerapro-bold-webfont.eot');
    src: url('../style/Fonts/cerapro-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../style/Fonts/cerapro-bold-webfont.woff2') format('woff2'),
    url('../style/Fonts/cerapro-bold-webfont.woff') format('woff'),
    url('../style/Fonts/cerapro-bold-webfont.ttf') format('truetype'),
    url('../style/Fonts/cerapro-bold-webfont.svg#cera_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cera_prolight';
    src: url('../style/Fonts/cerapro-light-webfont.eot');
    src: url('../style/Fonts/cerapro-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../style/Fonts/cerapro-light-webfont.woff2') format('woff2'),
    url('../style/Fonts/cerapro-light-webfont.woff') format('woff'),
    url('../style/Fonts/cerapro-light-webfont.ttf') format('truetype'),
    url('../style/Fonts/cerapro-light-webfont.svg#cera_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cera_promedium';
    src: url('../style/Fonts/cerapro-medium-webfont.eot');
    src: url('../style/Fonts/cerapro-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../style/Fonts/cerapro-medium-webfont.woff2') format('woff2'),
    url('../style/Fonts/cerapro-medium-webfont.woff') format('woff'),
    url('../style/Fonts/cerapro-medium-webfont.ttf') format('truetype'),
    url('../style/Fonts/cerapro-medium-webfont.svg#cera_promedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hanging_lettersregular';
    src: url('../style/Fonts/hanging/hanged_letters-webfont.eot');
    src: url('../style/Fonts/hanging/hanged_letters-webfont.eot?#iefix') format('embedded-opentype'),
    url('../style/Fonts/hanging/hanged_letters-webfont.woff2') format('woff2'),
    url('../style/Fonts/hanging/hanged_letters-webfont.woff') format('woff'),
    url('../style/Fonts/hanging/hanged_letters-webfont.ttf') format('truetype'),
    url('../style/Fonts/hanging/hanged_letters-webfont.svg#hanging_lettersregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


.background{
    max-width: 500px;
    margin: auto;
    padding: 52px 100px 50px;
    box-sizing: border-box;
    border-bottom:solid 10px #46A358;
;
}

.title{
    text-align: center;
    margin-bottom: 40px;
}

.title_login{
    border-right:solid 2px #3d3d3d;;
    padding-right: 12px;
    margin-right: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #3d3d3d;
    font-family: "Open Sans", sans-serif;
}

.title_register{
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #46a358;
    font-family: "Open Sans", sans-serif;
}

.text{
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
    margin-bottom: 18px;
    font-family: "Open Sans", sans-serif;
}

.User_name{
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    padding: 12px 14px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
    font-family: "Open Sans", sans-serif;
}

.email{
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    padding: 12px 14px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
    font-family: "Open Sans", sans-serif;
}

.Password{
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    padding: 12px 14px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
    font-family: "Open Sans", sans-serif;
}

.Confirm-Password{
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    padding: 12px 14px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    margin-bottom: 41px;
    font-family: "Open Sans", sans-serif;
}

.button_register{
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    background: #46a358;
    padding: 14px 118px;
    border-radius: 5px;
    border: #46a358;
    margin-bottom: 36px;
    font-family: "Open Sans", sans-serif;
}

.text_register_with{
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
    margin-bottom: 27px;
    font-family: "Open Sans", sans-serif;
}

.link_google{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
    color: #727272;
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    box-sizing: border-box;
    text-decoration-line: none;
    margin-bottom: 15px;
    font-family: "Open Sans", sans-serif;
}

.link_facebook{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
    text-align: center;
    color: #727272;
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    box-sizing: border-box;
    text-decoration-line: none;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 40px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{

    background-color: #fff;

}


.container{
    margin: auto;
    max-width: 1200px;
}

header{
    padding-top: 30px;
    margin-bottom: 12px;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

}

.logo{
    /*margin-right: 229px;*/
    margin-bottom: 18px;
}

header nav  li a{
    text-decoration: none;
    /*display: inline-block;*/
    color: #3d3d3d;
}

header nav li:first-of-type{
    font-weight: 700;
    font-size: 16px;
    color: #3d3d3d;
    font-family: 'cera_probold';
}

header nav li{
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    font-family: 'cera_proregular';
}

header nav li:last-of-type{
    margin-right: 0;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.30px solid rgba(70, 163, 88, 0.5);
}

header nav li:after{
    height: 3px;
    background-color: transparent;
    width: 100%;
    content:"" ;
    display: block;
    margin-top:22px;
}

header nav li:hover:after{
    background-color: #46A358;
}

.link_login{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    border: solid;
    background-color: #46A358;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    box-sizing: border-box;
    padding: 8px 17px 7px 17px ;
    margin-bottom: 18px;
    font-family: 'cera_promedium';
}

.link_login:before{
    content: "";
    display: inline-block;
    background-image: url("../images/Logout.svg");
    width: 20px;
    height: 20px;
}

.banner .container{
    background: linear-gradient(135deg, #f5f5f5 0%, #f5f5f5 100%);
    min-height: 450px;
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    padding-left: 43px;
    border: transparent;
    margin-bottom: 46px;
}
.banner article{
    max-width: 557px;
    display: inline-block;
    margin-right: 93px;
}

main article h4{
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-bottom: 7px;
    /*margin-top: 63px;*/
    font-family: 'cera_promedium';

}

h1, h2, h3, h4, h5, h6 {
    margin: 0; /* обнулили все отступы */
    padding: 0; /* и поля */
}

main article h1{
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    /*text-transform: uppercase;*/
    color: #3d3d3d;
    margin-bottom: 5px;
    font-family: 'cera_problack';

}

main article h1 span{
    color: #46a358;
}

main article p{
    /*width: 557px;*/
    /*height: 45px;*/
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin-bottom: 44px;
}

main article .shop_now{
    /*width: 140px;*/
    /* */
    border-radius: 6px;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: #fff;
    border: solid;
    background-color: #46A358;
    text-decoration: none;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    box-sizing: border-box;
    margin-bottom: 85px;
    padding: 10px 27px ;
    font-family: 'cera_probold';
}

.image_banner{
    margin-top: 12px;
}

.catalog .container{
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    gap: 50px;
}

.catalog_list{
    max-width:310px;
    background: #FBFBFB;
    max-height: 774px;

}

.catalog_list_background{
    background: #FBFBFB;

}


.catalog_list h4{
    margin: 14px 0 7px 18px;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    font-family: 'cera_probold';
}

.catalog_list ul{
    list-style: none;
    /*margin: 0 189px 377px 30px;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    min-height: 774px;
    margin-left: 30px;


}

.catalog_list ul a{
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 267%;
    color: #3d3d3d;
    font-family: 'cera_proregular';
}

.catalog_list ul a:hover{
    color: #46A358;
}

.sale{
    max-width: 310px;
    min-height: 470px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(70, 163, 88, 0.1) 0%, rgba(70, 163, 88, 0.03) 100%);
    margin-top: -35px;
}

.catalog_list h2{
    font-weight: 400;
    font-size: 65px;
    line-height: 100%;
    color: #46a358;
    margin-bottom: 17px;
    font-family: 'hanging_lettersregular';

}

.catalog_list h3{
    font-weight: 700;
    font-size: 23px;
    line-height: 70%;
    text-align: center;
    color: #3d3d3d;
    font-family: 'cera_probold';
}

.catalog_products{
    max-width: 840px;
}

.short_by{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 31px;
}

.short_by ul{
    display: flex;
    justify-content: space-between;
    gap: 38px;
    list-style: none;
}

.short_by ul a{
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
    font-family: 'cera_proregular';
}

.short_by ul li:after{
    background-color: transparent;
    width: 100%;
    content:"" ;
    display: block;
    height: 2px;
    margin-bottom: 7px;
}

.short_by ul li:hover:after{
    background-color: #46A358;
}

.short_by ul a:hover{
    color: #46A358;
}

.short_by p{
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
    font-family: 'cera_proregular';
}


.catalog_foto{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    margin-bottom: 90px;
}

.catalog_foto article img{
    margin-bottom: 12px;
}

.catalog_foto article{
    margin-bottom: 70px;
    position: relative;
}

.discount {
    position: absolute;
    left: 0;
    top: 14px;
    padding: 8px;
    background-color: #46A358;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #fff ;
    font-family: cera_promedium;
}

.catalog_foto p span{
    font-weight: 400;
    font-size: 18px;
    line-height: 89%;
    color: #a5a5a5;
    font-family: cera_proregular;
    margin-left: 15px;
    position: relative;
    display: inline;
}

.catalog_foto article p span:after{
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    background-color: #cbcbcb;
    width: 100%;
    top: 12px;
    left: 0px;
}

.catalog_foto p{
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #46a358;
    font-family: 'cera_probold';
}

.catalog_foto h5{
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #3d3d3d;
    font-family: 'cera_proregular';
    margin-bottom: 6px;
}

.catalog_foto article:hover{
    border-top:solid 1px #46A358;
}

.catalog_foto article:hover ul{
    opacity: 1;
}

.catalog_foto article ul {
    display: flex;
    position: absolute;
    bottom: 111px;
    left: calc(50% - 62px);
    justify-content: space-between;
    gap: 27px;
    opacity: 0;
    transition: 0.4s;

}

.catalog_foto article ul li{
    list-style: none;
}

.catalog_foto ul li a:hover svg path{
    fill: #46A358;
}

.pages_sckroll{
    display: flex;
    justify-content: flex-end;
}

.pages_sckroll a{
    text-decoration: none;
    padding: 10px 13px;
    margin-right: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    font-weight: 300;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    font-family: 'cera_prolight';
}

.pages_sckroll a:last-of-type{
    padding: 9px 8px;
}

.pages_sckroll a:hover{
    background-color: #46A358;
    color: #FFFFFF;
}

.pages_sckroll a:last-of-type:hover svg path{
    stroke: #FFFFFF;
}